.error {
    color: red;
    font-size: .8em;
    font-style: italic;
    display: block;
    padding-bottom: 5px;
}

textarea {
    width: 400px;
    height: 150px;
    display: block;
}

#app {
    margin: auto;
    width: 50%;
}

.Alert {
    position: relative;
    background-color: #ddd;
    border: 1px solid #ddd;
    padding: 1em;
}

.Alert__close {
    position: absolute;
    top: 1em;
    right: 1em;
    font-weight: bold;
    cursor: pointer;
}

.Alert--Success {
    background-color: green;
    border: 1px solid lightgreen;
}

.Alert--Error {
    background-color: red;
    border: 1px solid lightgreen;
}